@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

@font-face {
  font-family: "OptimusPrinceps";
  src: url(../optimusprinceps/OptimusPrinceps.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: OptimusPrinceps;
  background-color: var(--mblack);
  display: flex;
  flex-direction: column;
  color: var(--mwhite);
}

a {
  color: var(--mwhite);
  text-decoration: none;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes burn {
  0% {
    color: var(--mwhite);
    transform: none;
  }
  50% {
    color: var(--fire);
    transform: scale(1.2);
  }
  100% {
    color: var(--mwhite);
    transform: none;
  }
}

a i:hover {
  will-change: transform;
  animation: burn 1s ease-in-out infinite;
}
