#friends-display-link {
  display: block;
  text-align: center;
  padding: 15px 0px;
  box-shadow: 0px 0px 10px white;
  font-size: 18px;
  margin-bottom: 20px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid var(--mwhite);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  top: 0;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 2s;
}

.splash-screen__back {
  width: 100vw;
  height: 120vh;
  background-color: var(--mblack);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.splash-screen__main {
  z-index: 51;
  margin-bottom: 15px;
}

.splash-screen__hide {
  width: 100vw;
  height: 60vh;
  background-color: var(--mblack);
  z-index: 50;
}
