.settings__setting {
  padding: 20px 0px;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:last-child {
  border: none;
}

.settings__setting i {
  margin-right: 10px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

@keyframes shakeIcon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.settings__setting i:hover {
  animation: shakeIcon 1.5s linear infinite;
}
